<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>handbook of face recognition</title>

    <!-- Favicon -->
    <!-- {% load static %} -->
    <link rel="icon" href="static/img/favicon_2.ico">
<!-- {#    <link rel="shortcut icon" href="static/assets/media/image/favicon.png"/>#} -->
    <!-- Plugin styles -->
    <link rel="stylesheet" href="static/vendors/bundle.css" type="text/css">
    <!-- Slick -->
    <link rel="stylesheet" href="static/vendors/slick/slick.css" type="text/css">
    <link rel="stylesheet" href="static/vendors/slick/slick-theme.css" type="text/css">

    <!-- Daterangepicker -->
    <link rel="stylesheet" href="static/vendors/datepicker/daterangepicker.css" type="text/css">

    <!-- DataTable -->
    <link rel="stylesheet" href="static/vendors/dataTable/datatables.min.css" type="text/css">

    <!-- App styles -->
    <link rel="stylesheet" href="static/assets/css/app.css" type="text/css">
    <!-- {% block script_link %} -->
    <link rel="stylesheet" href="static/css/highlights/default.css">
    <link rel="stylesheet" href="static/css/pygments.css"/>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <script src="static/js/jquery-2.1.3.min.js" ></script>
    <style>
    h1, h2, h3{color:rgb(33,150,243)!important}
    .h1, h1 {
        font-size: 28px;
    }
    p {
        font-size: 16px;
        letter-spacing: 0;
        margin: 0 0 10px;
        font-weight: 400;
        line-height: 24px;
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
    </style>

    <script type="text/x-mathjax-config">
        window.MathJax.Hub.Config({
            showProcessingMessages: false, //关闭js加载过程信息
            messageStyle: "none", //不显示信息
            extensions: ["tex2jax.js"],
            jax: ["input/TeX", "output/HTML-CSS"],
            tex2jax: {
                inlineMath: [ ['$','$'], ["\\(","\\)"] ], //行内公式选择符
                displayMath: [ ['$$','$$'], ["\\[","\\]"] ], //段内公式选择符
                skipTags: ['script', 'noscript', 'style', 'textarea', 'pre','code','a'], //避开某些标签
                ignoreClass:"comment-content" //避开含该Class的标签
            },
            "HTML-CSS": {
                availableFonts: ["STIX","TeX"], //可选字体
                showMathMenu: false //关闭右击菜单显示
            }
        });
        window.MathJax.Hub.Queue(["Typeset",MathJax.Hub]);
    </script>
    <script src="https://cdn.bootcss.com/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <script type="text/javascript" async="async" src="static/js/MathJax.js"></script>
    <script type="text/javascript" async src="https://cdn.bootcss.com/mathjax/2.7.7/MathJax.js"></script>
    <script data-no-instant>
        InstantClick.on('change', function(isInitialLoad){
            if (isInitialLoad === false) {
                if (typeof MathJax !== 'undefined'){
                    MathJax.Hub.Queue(["Typeset",MathJax.Hub]);
                }
            }
        });
        InstantClick.init();
    </script>
<!-- <script type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML"> -->
</script>
    <!-- {% endblock %} -->
</head>
<body>

<!-- begin::preloader-->
<!-- {#<div class="preloader">#}
{#    <div class="preloader-icon"></div>#}
{#</div>#} -->
<!-- end::preloader -->

<!-- begin::header -->
<div class="header" style="background-color: #26A69A;color: white">

    <div class="header-left">
        <div class="navigation-toggler">
            <a href="#" data-action="navigation-toggler">
                <i data-feather="menu"></i>
            </a>
        </div>
        <div class="header-logo">
            <a href="d2l.html">
<!-- {#                <img class="logo" src="{% static 'img/favicon_2.ico' %}" alt="logo">#} -->
                <img style="width: 150px;display: block" class="logo" src="static/img/d2l_nav.png" alt="logo">
<!-- {#                <img class="logo-light" src="#" alt="light logo">#} -->
            </a>
            <!-- <div style="margin:0 15%;text-align: center;z-index: 0;">
                <div class="page-title" style="text-align: center;padding: 0">
                    <span class="logo" style="color:white;font-size: 28px;">Handbook of Face Recognition (3rd Edition)</span>
                </div>
            </div> -->
        </div>
    </div>
    
    <div class="header-body" >
        <div style="margin:auto;text-align: center;">
            <div class="page-title" style="text-align: center;padding: 0">
                <span class="logo" style="color:white;font-size: 28px;">Handbook of Face Recognition (3rd Edition) <a href="d2l.html">d2l</a></span>
            </div>
        </div>
    </div>

</div>
<!-- end::header -->

<!-- begin::main -->
<div id="main">

    <!-- begin::navigation -->
    <div class="navigation" style="padding: 0">
        <div class="navigation-menu-body" style="font-size: 15px; font-weight: normal;color: #6a737d">
            <div class="navigation-menu-group">
                <div class="open"
                     id="dashboards">
                    <ul>
                        <li>
                            <a href="">Preface</a>
                        </li>
                        <li>
                            <a href="">Installation</a>
                        </li>
                        <li>
                            <a href="">Notation</a>
                        </li>
                        <li>
                            <a href="">I. Introduction and Background</a>
                            <ul>
                                <li>
                                    <a href="">1. Face Recognition Research and Development</a>
                                </li>
                                <li>
                                    <a href="">2. The Deep Neural Networks Approach to Face Recognition</a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="">II. Fundamentals of Deep Neural Networks</a>
                            <ul>
                                <li>
                                    <a href="">3. Neural Network Architectures</a>
                                </li>
                                <li>
                                    <a href="">4. Generative Autoencoder Networks</a>
                                </li>
                                <li>
                                    <a href="">5. Generative Adversarial Networks</a>
                                </li>
                                <li>
                                    <a href="">6. Transfer Learning and Domain Adaptation</a>
                                </li>
                                <li>
                                    <a href="">7. Semi-supervised Learning</a>
                                </li>
                                <li>
                                    <a href="">8. Neural Network Model Compression and Acceleration</a>
                                </li>
                                <li>
                                    <a href="">9. Deep Learning Development Frameworks</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="">III. Face Recognition by Deep Neural Networks</a>
                            <ul>
                                <li>
                                    <a href="">10. Face Detection</a>
                                </li>
                                <li>
                                    <a href="">11. Face Alignment</a>
                                </li>
                                <li>
                                    <a href="">12. Face Parsing</a>
                                </li>
                                <li>
                                    <a href="">13. 3D Face Landmarking and Morphing</a>
                                </li>
                                <li>
                                    <a href="">14. Face Similarity Metric Learning</a>
                                </li>
                                <li>
                                    <a href="">15. Face Feature Learning</a>
                                </li>
                                <li>
                                    <a href="">16. Pose Invariant Face Recognition</a>
                                </li>
                                <li>
                                    <a href="">17. Age Invariant Face Recognition</a>
                                </li>
                                <li>
                                    <a href="">18. 3D Face Recognition</a>
                                </li>
                                <li>
                                    <a href="">19. Heterogeneous Face Recognition</a>
                                </li>
                                <li>
                                    <a href="">20. Face Spoofing Detection</a>
                                </li>
                                <li>
                                    <a href="">21. Adversarial Face Perturbations</a>
                                </li>
                                <li>
                                    <a href="">22. Face Expression Recognition</a>
                                </li>
                                <li>
                                    <a href="">23. Face Attribute Recognition</a>
                                </li>
                                <li>
                                    <a href="">24. Multi-task Learning for Face Analysis</a>
                                </li>
                                <li>
                                    <a href="">25. Face Recognition in Video</a>
                                </li>
                                <li>
                                    <a href="">26. Face Super-resolution</a>
                                </li>
                                <li>
                                    <a href="">27. Face Data Augmentation</a>
                                </li>
                                <li>
                                    <a href="">28. Face Animation</a>
                                </li>
                                <li>
                                    <a href="">29. Explainable face recognition</a>
                                </li>
                                <li>
                                    <a href="">30. Bias in Face Recognition</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="">IV. Face Recognition Systems</a>
                            <ul>
                <li>
                    <a href="">31. Face Unlock Systems</a>
                </li>
                <li>
                    <a href="">32. Large Scale Face Search Systems</a>
                </li>
                <li>
                    <a href="">33. Security and Privacy Protection</a>
                </li>
                <li>
                    <a href="">34. Database and Benchmarking</a>
                </li>
                <li>
                    <a href="">35. Face Recognition Standards</a>
                </li>
                <li>
                    <a href="">36. Government Regulations and Ethics</a>
                </li>
            </ul>
                        </li>
                        <li>
                            <a href="">Appendix. Open Source Data and Code</a>
                            <ul>
                                <li>
                                    <a href="">1. Open Source Data and Code: Overview</a>
                                </li>
                                <li>
                                    <a href="">2. Fundamentals of Deep Neural Networks</a>
                                </li>
                                <li>
                                    <a href="">3. Face Recognition by Deep Neural Networks</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="https://github.com/FRH-Code-Data/Appendix/blob/master/References.md">References</a>
                            <ul>
                                <li>
                                    <a href="">Editors</a>
                                </li>
                                <li>
                                    <a href="">Contributions</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- end::navigation -->

    <div class="main-content">
        <div class="main">
            <div class="document" role="main" style="padding: 0 15%">
<h1>Information Theory</h1>
<p>:label:<code>sec_information_theory</code></p>
<p>The universe is overflowing with information. Information provides a common language across disciplinary rifts: from Shakespeare’s Sonnet to researchers’ paper on Cornell ArXiv, from Van Gogh’s printing Starry Night to Beethoven’s music Symphony No. 5, from the first programming language Plankalkül to the state-of-the-art machine learning algorithms. Everything must follow the rules of information theory, no matter the format. With information theory, we can measure and compare how much information is present in different signals. In this section, we will investigate the fundamental concepts of information theory and applications of information theory in machine learning.</p>
<p>Before we get started, let's outline the relationship between machine learning and information theory. Machine learning aims to extract interesting signals from data and make critical predictions.  On the other hand, information theory studies encoding, decoding, transmitting, and manipulating information. As a result, information theory provides fundamental language for discussing the information processing in machine learned systems. For example, many machine learning applications use the cross entropy loss as described in :numref:<code>sec_softmax</code>.  This loss can be directly derived from information theoretic considerations.</p>
<h2>Information</h2>
<p>Let's start with the &quot;soul&quot; of information theory: information. <em>Information</em> can be encoded in anything with a particular sequence of one or more encoding formats. Suppose that we task ourselves with trying to define a notion of information.  What could be are starting point?</p>
<p>Consider the following thought experiment.  We have a friend with a deck of cards.  They will shuffle the deck, flip over some cards, and tell us statements about the cards.  We will try to assess the information content of each statement.</p>
<p>First, they flip over a card and tell us, &quot;I see a card.&quot;  This provides us with no information at all.  We were already certain that this was the case so we hope the information should be zero.</p>
<p>Next, they flip over a card and say, &quot;I see a heart.&quot;  This provides us some information, but in reality there are only $4$ different suits that were possible, each equally likely, so we are not surprised by this outcome.  We hope that whatever the measure of information, this event should have low information content.</p>
<p>Next, they flip over a card and say, &quot;This is the $3$ of spades.&quot;  This is more information.  Indeed there were $52$ equally likely possible outcomes, and our friend told us which one it was.  This should be a medium amount of information.</p>
<p>Let's take this to the logical extreme.  Suppose that finally they flip over every card from the deck and read off the entire sequence of the shuffled deck.  There are $52!$ different orders to the deck, again all equally likely, so we need a lot of information to know which one it is.</p>
<p>Any notion of information we develop must conform to this intuition.  Indeed, in the next sections we will learn how to compute that these events have $0\text{ bits}$, $2\text{ bits}$, $~5.7\text{ bits}$, and $~225.6\text{ bits}$ of information respectively.</p>
<p>If we read through these thought experiments, we see a natural idea.  As a starting point, rather than caring about the knowledge, we may build off the idea that information represents the degree of surprise or the abstract possibility of the event. For example, if we want to describe an unusual event, we need a lot information. For a common event, we may not need much information.</p>
<p>In 1948, Claude E. Shannon published <em>A Mathematical Theory of Communication</em> :cite:<code>Shannon.1948</code> establishing the theory of information.  In his book, Shannon introduced the concept of information entropy for the first time. We will begin our journey here.</p>
<h3>Self-information</h3>
<p>Since information embodies the abstract possibility of an event, how do we map the possibility to the number of bits? Shannon introduced the terminology <em>bit</em> as the unit of information, which was originally created by John Tukey. So what is a &quot;bit&quot; and why do we use it to measure information? Historically, an antique transmitter can only send or receive two types of code: $0$ and $1$.  Indeed, binary encoding is still in common use on all modern digital computers. In this way, any information is encoded by a series of $0$ and $1$. And hence, a series of binary digits of length $n$ contains $n$ bits of information.</p>
<p>Now, suppose that for any series of codes, each $0$ or $1$ occurs with a probability of $\frac{1}{2}$. Hence, an event $X$ with a series of codes of length $n$, occurs with a probability of $\frac{1}{2^n}$. At the same time, as we mentioned before, this series contains $n$ bits of information. So, can we generalize to a math function which can transfer the probability $p$ to the number of bits? Shannon gave the answer by defining <em>self-information</em></p>
<p>$$I(X) = - \log_2 (p),$$</p>
<p>as the <em>bits</em> of information we have received for this event $X$. Note that we will always use base-2 logarithms in this section. For the sake of simplicity, the rest of this section will omit the subscript 2 in the logarithm notation, i.e., $\log(.)$ always refers to $\log_2(.)$. For example, the code &quot;0010&quot; has a self-information</p>
<p>$$I(\text{0010}) = - \log (p(\text{0010})) = - \log \left( \frac{1}{2^4} \right) = 4 \text{ bits}.$$</p>
<p>We can calculate self information in MXNet as shown below. Before that, let's first import all the necessary packages in this section.</p>
<pre><code class="language-{.python">from mxnet import np
from mxnet.metric import NegativeLogLikelihood
from mxnet.ndarray import nansum
import random

def self_information(p):
    return -np.log2(p)

self_information(1/64)
</code></pre>
<h2>Entropy</h2>
<p>As self-information only measures the information of a single discrete event, we need a more generalized measure for any random variable of either discrete or continuous distribution.</p>
<h3>Motivating Entropy</h3>
<p>Let's try to get specific about what we want.  This will be an informal statement of what are known as the <em>axioms of Shannon entropy</em>.  It will turn out that the following collection of common-sense statements force us to a unique definition of information.  A formal version of these axioms, along with several others may be found in :cite:<code>Csiszar.2008</code>.</p>
<ol>
<li>The information we gain by observing a random variable does not depend on what we call the elements, or the presence of additional elements which have probability zero.</li>
<li>The information we gain by observing two random variables is no more than the sum of the information we gain by observing them separately.  If they are independent, then it is exactly the sum.</li>
<li>The information gained when observing (nearly) certain events is (nearly) zero.</li>
</ol>
<p>While proving this fact is beyond the scope of our text, it is important to know that this uniquely determines the form that entropy must take.  The only ambiguity that these allow is in the choice of fundamental units, which is most often normalized by making the choice we saw before that the information provided by a single fair coin flip is one bit.</p>
<h3>Definition</h3>
<p>For any random variable $X$ that follows a probability distribution $P$ with a probability density function (p.d.f.) or a probability mass function (p.m.f.) $p(x)$, we measure the expected amount of information through <em>entropy</em> (or <em>Shannon entropy</em>)</p>
<p>$$H(X) = - E_{x \sim P} [\log p(x)].$$
:eqlabel:<code>eq_ent_def</code></p>
<p>To be specific, if $X$ is discrete, $$H(X) = - \sum_i p_i \log p_i \text{, where } p_i = P(X_i).$$</p>
<p>Otherwise, if $X$ is continuous, we also refer entropy as <em>differential entropy</em></p>
<p>$$H(X) = - \int_x p(x) \log p(x) ; dx.$$</p>
<p>In MXNet, we can define entropy as below.</p>
<pre><code class="language-{.python">def entropy(p):
    entropy = - p * np.log2(p)
    # nansum will sum up the non-nan number
    out = nansum(entropy.as_nd_ndarray())
    return out

entropy(np.array([0.1, 0.5, 0.1, 0.3]))
</code></pre>
<h3>Interpretations</h3>
<p>You may be curious: in the entropy definition :eqref:<code>eq_ent_def</code>, why do we use an expectation of a negative logarithm? Here are some intuitions.</p>
<p>First, why do we use a <em>logarithm</em> function $\log$? Suppose that $p(x) = f_1(x) f_2(x) \ldots, f_n(x)$, where each component function $f_i(x)$ is independent from each other. This means that each $f_i(x)$ contributes independently to the total information obtained from $p(x)$. As discussed above, we want the entropy formula to be additive over independent random variables. Luckily, $\log$ can naturally turn a product of probability distributions to a summation of the individual terms.</p>
<p>Next, why do we use a <em>negative</em> $\log$? Intuitively, more frequent events should contain less information than less common events, since we often gain more information from an unusual case than from an ordinary one. However, $\log$ is monotonically increasing with the probabilities, and indeed negative for all values in $[0, 1]$.  We need to construct a monotonically decreasing relationship between the probability of events and their entropy, which will ideally be always positive (for nothing we observe should force us to forget what we have known). Hence, we add a negative sign in front of $\log$ function.</p>
<p>Last, where does the <em>expectation</em> function come from? Consider a random variable $X$. We can interpret the self-information ($-\log(p)$) as the amount of <em>surprise</em> we have at seeing a particular outcome.  Indeed, as the probability approaches zero, the surprise becomes infinite.  Similarly, we can interpret The entropy as the average amount of surprise from observing $X$. For example, imagine that a slot machine system emits statistical independently symbols ${s_1, \ldots, s_k}$ with probabilities ${p_1, \ldots, p_k}$ respectively. Then the entropy of this system equals to the average self-information from observing each output, i.e.,</p>
<p>$$H(S) = \sum_i {p_i \cdot I(s_i)} = - \sum_i {p_i \cdot \log p_i}.$$</p>
<h3>Properties of Entropy</h3>
<p>By the above examples and interpretations, we can derive the following properties of entropy :eqref:<code>eq_ent_def</code>. Here, we refer to X as an event and P as the probability distribution of X.</p>
<ul>
<li><p>Entropy is non-negative, i.e., $H(X) \geq 0, \forall X$.</p>
</li>
<li><p>If $X \sim P$ with a p.d.f. or a p.m.f. $p(x)$, and we try to estimate $P$ by a new probability distribution $Q$ with a p.d.f. or a p.m.f. $q(x)$, then $$H(X) = - E_{x \sim P} [\log p(x)] \leq  - E_{x \sim P} [\log q(x)], \text{ with equality if and only if } P = Q.$$  Alternatively, $H(X)$ gives a lower bound of the average number of bits needed to encode symbols drawn from $P$.</p>
</li>
<li><p>If $X \sim P$, then $x$ conveys the maximum amount of information if it spreads evenly among all possible outcomes. Specifically, if the probability distribution $P$ is discrete with $k$-class ${p_1, \ldots, p_k }$, then $$H(X) \leq \log(k), \text{ with equality if and only if } p_i = \frac{1}{k}, \forall x_i.$$ If $P$ is a continuous random variable, then the story becomes much more complicated.  However, if we additionally impose that $P$ is supported on a finite interval (with all values between $0$ and $1$), then $P$ has the highest entropy if it is the uniform distribution on that interval.</p>
</li>
</ul>
<h2>Mutual Information</h2>
<p>Previously we defined entropy of a single random variable $X$, how about the entropy of a pair random variables $(X, Y)$?  We can think of these techniques as trying to answer the following type of question, &quot;What information is contained in $X$ and $Y$ together compared to each separately?  Is there redundant information, or is it all unique?&quot;</p>
<p>For the following discussion, we always use $(X, Y)$ as a pair of random variables that follows a joint probability distribution $P$ with a p.d.f. or a p.m.f. $p_{X, Y}(x, y)$, while $X$ and $Y$ follow probability distribution $p_X(x)$ and $p_Y(y)$, respectively.</p>
<h3>Joint Entropy</h3>
<p>Similar to entropy of a single random variable :eqref:<code>eq_ent_def</code>, we define the <em>joint entropy</em> $H(X, Y)$ of a pair random variables $(X, Y)$ as</p>
<p>$$H(X, Y) = −E_{(x, y) \sim P} [\log p_{X, Y}(x, y)]. $$
:eqlabel:<code>eq_joint_ent_def</code></p>
<p>Precisely, on the one hand, if $(X, Y)$ is a pair of discrete random variables, then</p>
<p>$$H(X, Y) = - \sum_{x} \sum_{y} p_{X, Y}(x, y) \log p_{X, Y}(x, y).$$</p>
<p>On the other hand, if $(X, Y)$ is a pair of continuous random variables, then we define the <em>differential joint entropy</em> as</p>
<p>$$H(X, Y) = - \int_{x, y} p_{X, Y}(x, y) \ \log p_{X, Y}(x, y) ;dx ;dy.$$</p>
<p>We can think of :eqref:<code>eq_joint_ent_def</code> as telling us the total randomness in the pair of random variables.  As a pair of extremes, if $X = Y$ are two identical random variables, then the information in the pair is exactly the information in one and we have $H(X, Y) = H(X) = H(Y)$.  On the other extreme, if $X$ and $Y$ are independent then $H(X, Y) = H(X) + H(Y)$.  Indeed we will always have that the information contained in a pair of random variables is no smaller than the entropy of either random variable and no more than the sum of both.</p>
<p>$$
H(X), H(Y) \le H(X, Y) \le H(X) + H(Y).
$$</p>
<p>Let's implement joint entropy from scratch in MXNet.</p>
<pre><code class="language-{.python">def joint_entropy(p_xy):
    joint_ent = -p_xy * np.log2(p_xy)
    # nansum will sum up the non-nan number
    out = nansum(joint_ent.as_nd_ndarray())
    return out

joint_entropy(np.array([[0.1, 0.5], [0.1, 0.3]]))
</code></pre>
<p>Notice that this is the same <em>code</em> as before, but now we interpret it differently as working on the joint distribution of the two random variables.</p>
<h3>Conditional Entropy</h3>
<p>The joint entropy defined above the amount of information contained in a pair of random variables.  This is useful, but oftentimes it is not what we care about.  Consider the setting of machine learning.  Let's take $X$ to be the random variable (or vector of random variables) that describes the pixel values of an image, and $Y$ to be the random variable which is the class label.  $X$ should contain substantial information---a natural image is a complex thing.  However, the information contained in $Y$ once the image has been show should be low.  Indeed, the image of a digit should already contain the information about what digit it is unless the digit is illegible.  Thus, to continue to extend our vocabulary of information theory, we need to be able to reason about the information content in a random variable conditional on another.</p>
<p>In the probability theory, we saw the definition of the <em>conditional probability</em> to measure the relationship between variables. We now want to analogously define the <em>conditional entropy</em> $H(Y \mid X)$.  We can write this as</p>
<p>$$ H(Y \mid X) = - E_{(x, y) \sim P} [\log p(y \mid x)],$$
:eqlabel:<code>eq_cond_ent_def</code></p>
<p>where $p(y \mid x) = \frac{p_{X, Y}(x, y)}{p_X(x)}$ is the conditional probability. Specifically, if $(X, Y)$ is a pair of discrete random variables, then</p>
<p>$$H(Y \mid X) = - \sum_{x} \sum_{y} p(x, y) \log p(y \mid x).$$</p>
<p>If $(X, Y)$ is a pair of continuous random variables, then the <em>differential joint entropy</em> is similarly defined as</p>
<p>$$H(Y \mid X) = - \int_x \int_y p(x, y) \ \log p(y \mid x) ;dx ;dy.$$</p>
<p>It is now natural to ask, how does the <em>conditional entropy</em> $H(Y \mid X)$ relate to the entropy $H(X)$ and the joint entropy $H(X, Y)$?  Using the definitions above, we can express this cleanly:</p>
<p>$$H(Y \mid X) = H(X, Y) - H(X).$$</p>
<p>This has an intuitive interpretation: the information in $Y$ given $X$ ($H(Y \mid X)$) is the same as the information in both $X$ and $Y$ together ($H(X, Y)$) minus the information already contained in $X$.  This gives us the information in $Y$ which is not also represented in $X$.</p>
<p>Now, let's implement conditional entropy :eqref:<code>eq_cond_ent_def</code> from scratch in MXNet.</p>
<pre><code class="language-{.python">def conditional_entropy(p_xy, p_x):
    p_y_given_x = p_xy/p_x
    cond_ent = -p_xy * np.log2(p_y_given_x)
    # nansum will sum up the non-nan number
    out = nansum(cond_ent.as_nd_ndarray())
    return out

conditional_entropy(np.array([[0.1, 0.5], [0.2, 0.3]]), np.array([0.2, 0.8]))
</code></pre>
<h3>Mutual Information</h3>
<p>Given the previous setting of random variables $(X, Y)$, you may wonder: &quot;Now that we know how much information is contained in $Y$ but not in $X$, can we similarly ask how much information is shared between $X$ and $Y$?&quot; The answer will be the <em>mutual information</em> of $(X, Y)$, which we will write as $I(X, Y)$.</p>
<p>Rather than diving straight into the formal definition, let's practice our intuition by first trying to derive an expression for the mutual information entirely based on terms we have constructed before.  We wish to find the information shared between two random variables.  One way we could try to do this is to start with all the information contained in both $X$ and $Y$ together, and then we take off the parts that are not shared.  The information contained in both $X$ and $Y$ together is written as $H(X, Y)$.  We want to subtract from this the information contained in $X$ but not in $Y$, and the information contained in $Y$ but not in $X$.  As we saw in the previous section, this is given by $H(X \mid Y)$ and $H(Y \mid X)$ respectively.  Thus, we have that the mutual information should be</p>
<p>$$
I(X, Y) = H(X, Y) - H(Y \mid X) − H(X \mid Y).
$$</p>
<p>Indeed, this is a valid definition for the mutual information.  If we expand out the definitions of these terms and combine them, a little algebra shows that this is the same as</p>
<p>$$I(X, Y) = −E_{x} E_{y} \left{ p_{X, Y}(x, y) \log\frac{p_{X, Y}(x, y)}{p_X(x) p_Y(y)} \right}. $$
:eqlabel:<code>eq_mut_ent_def</code></p>
<p>We can summarize all of these relationships in image :numref:<code>fig_mutual_information</code>.  It is an excellent test of intuition to see why the following statements are all also equivalent to $I(X, Y)$.</p>
<ul>
<li>$H(X) − H(X \mid Y)$</li>
<li>$H(Y) − H(Y \mid X)$</li>
<li>$H(X) + H(Y) − H(X, Y)$</li>
</ul>
<p><img src="../img/mutual_information.svg" alt="Mutual information's relationship with joint entropy and conditional entropy." />
:label:<code>fig_mutual_information</code></p>
<p>In many ways we can think of the mutual information :eqref:<code>eq_mut_ent_def</code> as principled extension of correlation coefficient we saw in :numref:<code>sec_random_variables</code>.  This allows us to ask not only for linear relationships between variables, but for the maximum information shared between the two random variables of any kind.</p>
<p>Now, let's implement mutual information from scratch.</p>
<pre><code class="language-{.python">def mutual_information(p_xy, p_x, p_y):
    p = p_xy / (p_x * p_y)
    mutual = -p_xy * np.log2(p)
    # nansum will sum up the non-nan number
    out = nansum(mutual.as_nd_ndarray())
    return out

mutual_information(np.array([[0.1, 0.5], [0.1, 0.3]]),
                   np.array([0.2, 0.8]),
                   np.array([[0.75, 0.25]]))
</code></pre>
<h3>Properties of Mutual Information</h3>
<p>Rather than memorizing the definition of mutual information :eqref:<code>eq_mut_ent_def</code>, you only need to keep in mind its notable properties:</p>
<ul>
<li>Mutual information is symmetric, i.e., $I(X, Y) = I(Y, X)$.</li>
<li>Mutual information is non-negative, i.e., $I(X, Y) \geq 0$.</li>
<li>$I(X, Y) = 0$ if and only if $X$ and $Y$ are independent. For example, if $X$ and $Y$ are independent, then knowing $Y$ does not give any information about $X$ and vice versa, so their mutual information is zero.</li>
<li>Alternatively, if $X$ is an invertible function of $Y$, then $Y$ and $X$ share all information and $$I(X, Y) = H(Y) = H(X).$$</li>
</ul>
<h3>Pointwise Mutual Information</h3>
<p>When we worked with entropy at the beginning of this chapter, we were able to provide an interpretation of $-\log(p_X(x))$ as how <em>surprised</em> we were with the particular outcome.  We may give a similar interpretation to the logarithmic term in the mutual information, which is often referred to as the <em>pointwise mutual information</em>:</p>
<p>$$\mathrm{pmi}(x, y) = \log\frac{p_{X, Y}(x, y)}{p_X(x) p_Y(y)}.$$
:eqlabel:<code>eq_pmi_def</code></p>
<p>We can think of :eqref:<code>eq_pmi_def</code> as measuring how much more or less likely the specific combination of outcomes $x$ and $y$ are compared to what we would expect for independent random outcomes.  If it is large and positive, then these two specific outcomes occur much more frequently than they would compared to random chance (<em>note</em>: the denominator is $p_X(x) p_Y(y)$ which is the probability of the two outcomes were independent), whereas if it is large and negative it represents the two outcomes happening far less than we would expect by random chance.</p>
<p>This allows us to interpret the mutual information :eqref:<code>eq_mut_ent_def</code> as the average amount that we were surprised to see two outcomes occurring together compared to what we would expect if they were independent.</p>
<h3>Applications of Mutual Information</h3>
<p>Mutual information may be a little abstract in it pure definition, so how does it related to machine learning? In natural language processing, one of the most difficult problems is the <em>ambiguity resolution</em>, or the issue of the meaning of a word being unclear from context. For example, recently a headline in the news reported that &quot;Amazon is on fire&quot;. You may wonder whether the company Amazon has a building on fire, or the Amazon rain forest is on fire.</p>
<p>In this case, mutual information can help us resolve this ambiguity. We first find the group of words that each has a relatively large mutual information with the company Amazon, such as e-commerce, technology, and online. Second, we find another group of words that each has a relatively large mutual information with the Amazon rain forest, such as rain, forest, and tropical. When we need to disambiguate &quot;Amazon&quot;, we can compare which group has more occurrence in the context of the word Amazon.  In this case the article would go on to describe the forest, and make the context clear.</p>
<h2>Kullback–Leibler Divergence</h2>
<p>As what we have discussed in :numref:<code>sec_linear-algebra</code>, we can use norms to measure distance between two points in space of any dimensionality.  We would like to be able to do a similar task with probability distributions.  There are many ways to go about this, but information theory provides one of the nicest.  We now explore the <em>Kullback–Leibler (KL) divergence</em>, which provides a way to measure if two distributions are close together or not.</p>
<h3>Definition</h3>
<p>Given a random variable $X$ that follows the probability distribution $P$ with a p.d.f. or a p.m.f. $p(x)$, and we estimate $P$ by another probability distribution $Q$ with a p.d.f. or a p.m.f. $q(x)$. Then the <em>Kullback–Leibler (KL) divergence</em> (or <em>relative entropy</em>) between $P$ and $Q$ is</p>
<p>$$D_{\mathrm{KL}}(P|Q) = E_{x \sim P} \left[ \log \frac{p(x)}{q(x)} \right].$$
:eqlabel:<code>eq_kl_def</code></p>
<p>As with the pointwise mutual information :eqref:<code>eq_pmi_def</code>, we can again provide an interpretation of the logarithmic term:  $-\log \frac{q(x)}{p(x)} = -\log(q(x)) - (-\log(p(x)))$ will be large and positive if we see $x$ far more often under $P$ than we would expect for $Q$, and large and negative if we see the outcome far less than expected.  In this way, we can interpret it as our <em>relative</em> surprise at observing the outcome compared to how surprised we would be observing it from our reference distribution.</p>
<p>In MXNet, let's implement the KL divergence from Scratch.</p>
<pre><code class="language-{.python">def kl_divergence(p, q):
    kl = p * np.log2(p / q)
    out = nansum(kl.as_nd_ndarray())
    return out.abs().asscalar()
</code></pre>
<h3>KL Divergence Properties</h3>
<p>Let's take a look at some properties of the KL divergence :eqref:<code>eq_kl_def</code>.</p>
<ul>
<li><p>KL divergence is non-symmetric, i.e., $$D_{\mathrm{KL}}(P|Q) \neq D_{\mathrm{KL}}(Q|P), \text{ if } P \neq Q.$$</p>
</li>
<li><p>KL divergence is non-negative, i.e., $$D_{\mathrm{KL}}(P|Q) \geq 0.$$ Note that the equality holds only when $P = Q$.</p>
</li>
<li><p>If there exists an $x$ such that $p(x) &gt; 0$ and $q(x) = 0$, then $D_{\mathrm{KL}}(P|Q) = \infty$.</p>
</li>
<li><p>There is a close relationship between KL divergence and mutual information. Besides the relationship shown in :numref:<code>fig_mutual_information</code>, $I(X, Y)$ is also numerically equivalent with the following terms:</p>
<ol>
<li>$D_{\mathrm{KL}}(P(X, Y)  \ | \ P(X)P(Y))$;</li>
<li>$E_Y { D_{\mathrm{KL}}(P(X \mid Y) \ | \ P(X)) }$;</li>
<li>$E_X { D_{\mathrm{KL}}(P(Y \mid X) \ | \ P(Y)) }$.</li>
</ol>
<p>For the first term, we interpret mutual information as the KL divergence between $P(X, Y)$ and the product of $P(X)$ and $P(Y)$, and thus is a measure of how different the joint distribution is from the distribution if they were independent. For the second term, mutual information tells us the average reduction in uncertainty about $Y$ that results from learning the value of the $X$'s distribution. Similarly to the third term.</p>
</li>
</ul>
<h3>Example</h3>
<p>Let's go through a toy example to see the non-symmetry explicitly.</p>
<p>First, let's generate and sort three <code>ndarray</code>s of length $10,000$: an objective <code>ndarray</code> $p$ which follows a normal distribution $N(0, 1)$, and two candidate <code>ndarray</code>s $q_1$ and $q_2$ which follow normal distributions $N(-1, 1)$ and $N(1, 1)$ respectively.</p>
<pre><code class="language-{.python">random.seed(1)

nd_len = 10000
p = np.random.normal(loc=0, scale=1, size=(nd_len, ))
q1 = np.random.normal(loc=-1, scale=1, size=(nd_len, ))
q2 = np.random.normal(loc=1, scale=1, size=(nd_len, ))

p = np.array(sorted(p.asnumpy()))
q1 = np.array(sorted(q1.asnumpy()))
q2 = np.array(sorted(q2.asnumpy()))
</code></pre>
<p>Since $q_1$ and $q_2$ are symmetric with respect to the y-axis (i.e., $x=0$), we expect a similar value of KL divergence between $D_{\mathrm{KL}}(p|q_1)$ and $D_{\mathrm{KL}}(p|q_2)$. As you can see below, there is only a 1% off between $D_{\mathrm{KL}}(p|q_1)$ and $D_{\mathrm{KL}}(p|q_2)$.</p>
<pre><code class="language-{.python">kl_pq1 = kl_divergence(p, q1)
kl_pq2 = kl_divergence(p, q2)
similar_percentage = abs(kl_pq1 - kl_pq2) / ((kl_pq1 + kl_pq2) / 2) * 100

kl_pq1, kl_pq2, similar_percentage
</code></pre>
<p>In contrast, you may find that $D_{\mathrm{KL}}(q_2 |p)$ and $D_{\mathrm{KL}}(p | q_2)$ are off a lot, with around 40% off as shown below.</p>
<pre><code class="language-{.python">kl_q2p = kl_divergence(q2, p)
differ_percentage = abs(kl_q2p - kl_pq2) / ((kl_q2p + kl_pq2) / 2) * 100

kl_q2p, differ_percentage
</code></pre>
<h2>Cross Entropy</h2>
<p>If you are curious about applications of information theory in deep learning, here is a quick example. We define the true distribution $P$ with probability distribution $p(x)$, and the estimated distribution $Q$ with probability distribution $q(x)$, and we will use them in the rest of this section.</p>
<p>Say we need to solve a binary classification problem based on given $n$ data points {$x_1, \ldots, x_n$}. Assume that we encode $1$ and $0$ as the positive and negative class label $y_i$ respectively, and our neural network is parameterized by $\theta$. If we aim to find a best $\theta$ so that $\hat{y}<em>i= p_{\theta}(y_i \mid x_i)$, it is natural to apply the maximum log-likelihood approach as was seen in :numref:<code>sec_maximum_likelihood</code>. To be specific, for true labels $y_i$ and predictions $\hat{y}<em>i= p</em>{\theta}(y_i \mid x_i)$, the probability to be classified as positive is $\pi_i= p</em>{\theta}(y_i = 1 \mid x_i)$. Hence, the log-likelihood function would be</p>
<p>$$
\begin{aligned}
l(\theta) &amp;= \log L(\theta) \
  &amp;= \log \prod_{i=1}^n \pi_i^{y_i} (1 - \pi_i)^{1 - y_i} \
  &amp;= \sum_{i=1}^n y_i \log(\pi_i) + (1 - y_i) \log (1 - \pi_i). \
\end{aligned}
$$</p>
<p>Maximizing the log-likelihood function $l(\theta)$ is identical to minimizing $- l(\theta)$, and hence we can find the best $\theta$ from here. To generalize the above loss to any distributions, we also called $-l(\theta)$ the <em>cross entropy loss</em> $\mathrm{CE}(y, \hat{y})$, where $y$ follows the true distribution $P$ and $\hat{y}$ follows the estimated distribution $Q$.</p>
<p>This was all derived by working from the maximum likelihood point of view.  However, if we look closely we can see that terms like $\log(\pi_i)$ have entered into our computation which is a solid indication that we can understand the expression from an information theoretic point of view.</p>
<h3>Formal Definition</h3>
<p>Like KL divergence, for a random variable $X$, we can also measure the divergence between the estimating distribution $Q$ and the true distribution $P$ via <em>cross entropy</em>,</p>
<p>$$\mathrm{CE}(P, Q) = - E_{x \sim P} [\log(q(x))].$$
:eqlabel:<code>eq_ce_def</code></p>
<p>By using properties of entropy discussed above, we can also interpret it as the summation of the entropy $H(P)$ and the KL divergence between $P$ and $Q$, i.e.,</p>
<p>$$\mathrm{CE} (P, Q) = H(P) + D_{\mathrm{KL}}(P|Q).$$</p>
<p>In MXNet, we can implement the cross entropy loss as below.</p>
<pre><code class="language-{.python">def cross_entropy(y_hat, y):
    ce = -np.log(y_hat[range(len(y_hat)), y])
    return ce.mean()
</code></pre>
<p>Now define two <code>ndarray</code>s for the labels and predictions, and calculate the cross entropy loss of them.</p>
<pre><code class="language-{.python">labels = np.array([0, 2])
preds = np.array([[0.3, 0.6, 0.1], [0.2, 0.3, 0.5]])

cross_entropy(preds, labels)
</code></pre>
<h3>Properties</h3>
<p>As alluded in the beginning of this section, cross entropy :eqref:<code>eq_ce_def</code> can be used to define a loss function in the optimization problem. It turns out that the following are equivalent:</p>
<ol>
<li>Maximizing predictive probability of $Q$ for distribution $P$, (i.e., $E_{x</li>
</ol>
<p>\sim P} [\log (q(x))]$);</p>
<ol>
<li>Minimizing cross entropy $\mathrm{CE} (P, Q)$;</li>
<li>Minimizing the KL divergence $D_{\mathrm{KL}}(P|Q)$.</li>
</ol>
<p>The definition of cross entropy indirectly proves the equivalent relationship between objective 2 and objective 3, as long as the entropy of true data $H(P)$ is constant.</p>
<h3>Cross Entropy as An Objective Function of Multi-class Classification</h3>
<p>If we dive deep into the classification objective function with cross entropy loss $\mathrm{CE}$, we will find minimizing $\mathrm{CE}$ is equivalent to maximizing the log-likelihood function $L$.</p>
<p>To begin with, suppose that we are given a dataset with $n$ samples, and it can be classified into $k$-classes. For each data point $i$, we represent any $k$-class label $\mathbf{y}<em>i = (y_{i1}, \ldots, y</em>{ik})$ by <em>one-hot encoding</em>. To be specific, if the data point $i$ belongs to class $j$, then we set the $j$-th entry to $1$, and all other components to $0$, i.e.,</p>
<p>$$ y_{ij} = \begin{cases}1 &amp; j \in J; \ 0 &amp;\text{otherwise.}\end{cases}$$</p>
<p>For instance, if a multi-class classification problem contains three classes $A$, $B$, and $C$, then the labels $\mathbf{y}_i$ can be encoded in {$A: (1, 0, 0); B: (0, 1, 0); C: (0, 0, 1)$}.</p>
<p>Assume that our neural network is parameterized by $\theta$. For true label vectors $\mathbf{y}<em>i$ and predictions $$\hat{\mathbf{y}}<em>i= p_{\theta}(\mathbf{y}<em>i \mid \mathbf{x}<em>i) = \sum</em>{j=1}^k y</em>{ij} p</em>{\theta} (y</em>{ij}  \mid  \mathbf{x}_i).$$</p>
<p>Hence, the <em>cross entropy loss</em> would be</p>
<p>$$
\mathrm{CE}(\mathbf{y}, \hat{\mathbf{y}}) = - \sum_{i=1}^n \mathbf{y}<em>i \log \hat{\mathbf{y}}<em>i
 = - \sum_{i=1}^n \sum_{j=1}^k y_{ij} \log{p</em>{\theta} (y</em>{ij}  \mid  \mathbf{x}_i)}.\
$$</p>
<p>On the other side, we can also approach the problem through maximum likelihood estimation. To begin with, let's quickly introduce a $k$-class multinoulli distribution. It is an extension of the Bernoulli distribution from binary class to multi-class. If a random variable $\mathbf{z} = (z_{1}, \ldots, z_{k})$ follows a $k$-class <em>multinoulli distribution</em> with probabilities $\mathbf{p} =$ ($p_{1}, \ldots, p_{k}$), i.e., $$p(\mathbf{z}) = p(z_1, \ldots, z_k) = \mathrm{Multi} (p_1, \ldots, p_k), \text{ where } \sum_{i=1}^k p_i = 1,$$ then the joint probability mass function(p.m.f.) of $\mathbf{z}$ is
$$\mathbf{p}^\mathbf{z} = \prod_{j=1}^k p_{j}^{z_{j}}.$$</p>
<p>It can be seen that each data point, $\mathbf{y}<em>i$, is following a $k$-class multinoulli distribution with probabilities $\boldsymbol{\pi} =$ ($\pi_{1}, \ldots, \pi_{k}$). Therefore, the joint p.m.f. of each data point $\mathbf{y}<em>i$ is  $\mathbf{\pi}^{\mathbf{y}<em>i} = \prod</em>{j=1}^k \pi</em>{j}^{y</em>{ij}}.$
Hence, the log-likelihood function would be</p>
<p>$$
\begin{aligned}
l(\theta) 
 = \log L(\theta) 
 = \log \prod_{i=1}^n \boldsymbol{\pi}^{\mathbf{y}<em>i}
 = \log \prod_{i=1}^n \prod_{j=1}^k \pi_{j}^{y_{ij}}
 = \sum_{i=1}^n \sum_{j=1}^k y_{ij} \log{\pi</em>{j}}.\
\end{aligned}
$$</p>
<p>Since in maximum likelihood estimation, we maximizing the objective function $l(\theta)$ by having $\pi_{j} = p_{\theta} (y_{ij}  \mid  \mathbf{x}_i)$. Therefore, for any multi-class classification, maximizing the above log-likelihood function $l(\theta)$ is equivalent to minimizing the CE loss $\mathrm{CE}(y, \hat{y})$.</p>
<p>To test the above proof, let's apply the built-in measure <code>NegativeLogLikelihood</code> in MXNet. Using the same <code>labels</code> and <code>preds</code> as in the earlier example, we will get the same numerical loss as the previous example up to the 5 decimal place.</p>
<pre><code class="language-{.python">nll_loss = NegativeLogLikelihood()
nll_loss.update(labels.as_nd_ndarray(), preds.as_nd_ndarray())
nll_loss.get()
</code></pre>
<h2>Summary</h2>
<ul>
<li>Information theory is a field of study about encoding, decoding, transmitting, and manipulating information.</li>
<li>Entropy is the unit to measure how much information is presented in different signals.</li>
<li>KL divergence can also measure the divergence between two distributions.</li>
<li>Cross Entropy can be viewed as an objective function of multi-class classification. Minimizing cross entropy loss is equivalent to maximizing the log-likelihood function.</li>
</ul>
<h2>Exercises</h2>
<ol>
<li>Verify that the card examples from the first section indeed have the claimed entropy.</li>
<li>Let's compute the entropy from a few data sources:<ul>
<li>Assume that you are watching the output generated by a monkey at a typewriter. The monkey presses any of the $44$ keys of the typewriter at random (you can assume that it has not discovered any special keys or the shift key yet). How many bits of randomness per character do you observe?</li>
<li>Being unhappy with the monkey, you replaced it by a drunk typesetter. It is able to generate words, albeit not coherently. Instead, it picks a random word out of a vocabulary of $2,000$ words. Moreover, assume that the average length of a word is $4.5$ letters in English. How many bits of randomness do you observe now?</li>
<li>Still being unhappy with the result, you replace the typesetter by a high quality language model. These can currently obtain perplexity numbers as low as $15$ points per character. The perplexity is defined as a length normalized probability, i.e., $$PPL(x) = \left[p(x)\right]^{1 / \text{length(x)} }.$$ How many bits of randomness do you observe now?</li>
</ul>
</li>
<li><p>Explain intuitively why $I(X, Y) = H(X) - H(X|Y)$.  Then, show this is true by expressing both sides as an expectation with respect to the joint distribution.</p>
</li>
<li><p>What is the KL Divergence between the two Gaussian distributions $\mathcal{N}(\mu_1, \sigma_1^2)$ and $\mathcal{N}(\mu_2, \sigma_2^2)$?</p>
</li>
</ol>
<h2><a href="https://discuss.mxnet.io/t/5157">Discussions</a></h2>
<p><img src="static/img/qr_information-theory.svg" alt="" /></p>
</div>
</div>


<!-- begin::footer -->
<footer style="margin-top:100%">
    <div class="container-fluid">
        <div>© 2020 Primex - <a href="" target="_blank">Laborasyon</a></div>
        <div>
            <nav class="nav">
                <a href="http://bootstrapmb.com/" class="nav-link">Licenses</a>
                <a href="#" class="nav-link">Change Log</a>
                <a href="#" class="nav-link">Get Help</a>
            </nav>
        </div>
    </div>
</footer>
<!-- end::footer -->

</div>
<!-- end::main-content -->

</div>
<!-- end::main -->

<!-- Plugin scripts -->
<script src="static/vendors/bundle.js"></script>


<!-- Slick -->
<script src="static/vendors/slick/slick.min.js"></script>

<!-- Chartjs -->
<script src="static/vendors/charts/chartjs/chart.min.js"></script>

<!-- Apex chart -->
<script src="https://apexcharts.com/samples/assets/irregular-data-series.js"></script>
<script src="static/vendors/charts/apex/apexcharts.min.js"></script>

<!-- Daterangepicker -->
<script src="static/vendors/datepicker/daterangepicker.js"></script>

<!-- DataTable -->
<script src="static/vendors/dataTable/datatables.min.js"></script>

<!-- Dashboard scripts -->
<script src="static/assets/js/examples/dashboard.js"></script>

<!-- To use theme colors with Javascript -->
<div class="colors">
<div class="bg-primary"></div>
<div class="bg-primary-bright"></div>
<div class="bg-secondary"></div>
<div class="bg-secondary-bright"></div>
<div class="bg-info"></div>
<div class="bg-info-bright"></div>
<div class="bg-success"></div>
<div class="bg-success-bright"></div>
<div class="bg-danger"></div>
<div class="bg-danger-bright"></div>
<div class="bg-warning"></div>
<div class="bg-warning-bright"></div>
</div>

<script>
$(function () {
$('.slick-js').slick({
    speed: 5,
    arrows: false,
    slidesToShow: 3,
    slidesToScroll: 1,
    autoplay: true,
    autoplaySpeed: 200,
    responsive: [
        {
            breakpoint: 992,
            settings: {
                slidesToShow: 3
            }
        },
        {
            breakpoint: 768,
            settings: {
                slidesToShow: 2
            }
        },
        {
            breakpoint: 500,
            settings: {
                slidesToShow: 1
            }
        }
    ]
});

$('input[name="daterangepicker"]').daterangepicker({
    opens: 'left'
});

$('.dataTable').DataTable({
    lengthMenu: [5, 10],
    "columnDefs": [{
        "targets": 7,
        "orderable": false
    }]
});
})
</script>


<!-- App scripts -->
<script src="static/assets/js/app.js"></script>

</body>
</html>
